{
  "env": {
    "test": {
      "sourceMaps": "inline",
      "retainLines": true,
      "plugins": [
        ["istanbul",
          {
            "exclude": [ "**/*.spec.js", "**/*.spec.jsx", "**/_test_/**.*" ],
            "useInlineSourceMaps": false
        }]
      ]
    }
  },
  "presets": [
    "@babel/env",
    "@babel/react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-flow-strip-types"
  ]
}
